/*font start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/*font end*/
/*common */
body {
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #242323;
}
.c_padding{
	padding: 46px 0 56px !important;
}
.btn-hvr:hover{
	transition: .3s;
	color: black;
	background-color: #E5C643; !important;
}
.hvr1:hover{
	transform: scale(0.8);
}
.hvr2:hover{
	transform: scale(1.2);
}


/*common */
/*head start*/
.menu{}
.menu ul li a{
	margin-right: 57px;
	font-weight: 500 !important;
}
.menu ul li:last-child a{
	margin-right: 46px;
}
/*head end*/
/*hero start*/

.hero-bg{
  border: 1px solid black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}
.rounded{
	    --bs-border-radius: 3.375rem !important;
}
.hero-content{
	padding: 510px 0 56px;
}
.c_p{
	
    margin-top: 50px;
    padding-left: 115px;
	font-size: 22px !important;
	font-weight: 500 !important;
}
.btn-lg {
    --bs-btn-padding-y: 0.8rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 1.5rem;
}
.b_margin{    
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 283px;
}
/*hero end*/
/*brand start*/
.brand{
	
	padding: 45px 75px 45px 0;
}
.brand-img{
	margin-bottom: 15px;
}

.bg-yellow{
    margin: 50px 0 50px;
	background-color: #E5C643;
}

/*brand end*/
/*new arrival start*/
.new-head{}
.new-head-img{}
.new-h2{
	font-weight: 600;
	font-size: 25px;
	text-shadow: 2px 2px #7F7F7F;
}
.new-p{
	font-weight: 400;
	font-size: 22px;
	text-shadow: 1px 1px #191919;
	color: #7F7F7F;

}
.new-ar-content{
	margin: 100px 20px 0 20px;
}
.new-content{
	margin-right: 10px;
	margin-top: 30px;
}
.new-img{

}
.new-icon-img{
	margin-top: 20px;
}
.new-icon-img:hover{
	transform: scale(0.8);
}
/*new arrival end*/
/*banner start*/
.banner{
	margin: 150px 0;
   background-color: #FBE259;
}

.banner-right{
  border: 1px solid black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner-content {
    padding: 110px 201px 125px 75px;
   
}
.b-h1{
	font-weight: 900;
	font-size: 80px;
}
.b-brdr{
	margin-right: 100px;
	border: 1px solid black;
}
.b-p{
	font-size: 22px;
    font-weight: 700;
}
.b-pl{
	font-size: 22px;
}
.b-btn{
	margin-top: 55px;
	width: 190px;
	height: 70px;
	font-size: 22px;
}
/*banner end*/
/*voucher start*/
.v-pad{
	padding: 200px 100px 0 100px;
}
.voucher-content{
	padding: 205px 50px 150px 50px;
}
.v-h1{
	font-weight: 900;
    font-size: 45px;
}
.v-p{
	margin-top: 30px;
	margin-bottom: 50px !important;
	font-size: 20px;
	color: #7C7C7C;
}
.v-icon{

}
.img-icon{
	width: 35%;
	margin-right: 20px;
}

/*voucher end*/
/*promo start*/
.promo{
	text-align: center;
	color: #FFFFFF;
	padding: 155px 350px;
}
.p-h1{
	font-weight: 700;
    font-size: 41px;
}
.p-p{
	margin:25px 0 !important;
	font-size: 25px;
}
.sform{
	font-size: 20px;
	position: relative;
	margin: 0 auto;
	width: 430px;
	
}
.sform input{
	padding: 0 110px 0 5px;
    width: 431px;
    height: 76px;
    color: #626262;
    border-bottom: 1px solid #333333;
}
.sform input:focus{
	outline: 0;
}
.sform button{
	position: absolute;
    cursor: pointer;
    top: 7px;
    right: 6px;
}

/*promo end*/
/*footer start*/
.ftr{
	background-color: #000000;
}
.ftr-content{
	color: white;
	padding: 100px 0 120px;
}
.f-h1{
	font-size: 30px;
	font-weight: 700;
}
.f-p{
	margin:30px 0 !important;
    color: #8E8E8E;
}
.ftr-content1{}
.ftr-content2{
  color:#D9D9D9;
}
.ftr-content2 ul li a{
	text-decoration: none !important;
	color:#8E8E8E  !important;
}
.f-p2{
	margin-bottom:30px !important;
    color: #8E8E8E;
}
.icon ul li{
	
	/*background-color:#E5C643 !important;*/
}
.icon ul li i{
    font-size: 45px;
	transition: .3s;
}
.icon ul li i:hover{
	color: white;
	transform: scale(1.2);
}
/*footer end*/